:root {
    --header-color: rgb(32, 148, 243);
    --header-text: #212121;
    --mains-color: #812121;
    --main-text: #757575;
    --main-background: #2F303A;
    --footer-main-background: #F5F4FA;
    --footer-text: #FFFFFF99;
}
body {

    font-family: ‘Inter’;
   
   };
   

   
   