:root {
  --header-color: #2196f3;
  --header-text: #212121;
  --main-text: #757575;
  --main-background: #2f303a;
  --footer-main-background: #f5f4fa;
  --footer-text: #ffffff99;
  --all-backgraund: #afb1b8;
}
