.header-iteamss {
  @media (min-width: 480px) {
  }
  @media (min-width: 768px) {
    margin-right: 60px;
  }
  @media (min-width: 1200px) {
    margin-right: 310px;
  }
}

.header-iteam {
  @media (min-width: 480px) {
    display: flex;
    margin-right: 15px;
    align-items: center;
  }
  @media (min-width: 768px) {
    display: flex;
    margin-right: 30px;
    align-items: center;
  }
  @media (min-width: 1200px) {
    display: flex;
    margin-right: 50px;
    align-items: center;
  }
}
.header-a {
  @media (min-width: 768px) {
    margin-left: 93px;
  }
}

.mainn-button {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    opacity 0.5s cubic-bezier(0.83, -0.08, 0.032, 1) 250ms;
  color: var(--footer-text);

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.85;
  letter-spacing: 0.96px;
}

.line-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--header-text);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.line-text {
  color: var(--main-text);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

.comand-title {
  color: var(--header-text);

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
}

.work-title {
  color: var(--header-text);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.comand-pritiers {
  color: var(--header-text);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.comand-text {
  color: var(--main-text);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;
}

.header-logo {
  color: var(--header-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;
}
.header-logos {
  color: var(--header-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;
}

.adress-lin {
  color: var(--footer-text);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

.adress-https {
  color: var(--footer-text);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

.portfolio-button {
  color: var(--footer-text);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;
  background: #f5f4fa;
  color: var(--header-text);
}

.wrap {
  flex-wrap: wrap;
}

.images-text {
  color: var(--header-text);

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.images-title {
  color: var(--main-text);

  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.footerr {
  background-color: var(--main-background);
}

.comand {
  background-color: var(--footer-main-background);
}

.header-line {
  display: flex;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-line {
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.line-head {
  display: flex;
  align-items: left;
}

.header-iteam:nth-child(5) {
  margin-right: 0px;
}

.mainn-text {
  display: flex;
  margin: 0 auto;
  align-items: center;
  color: #ffffff;
}

.mainn-button {
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-logo {
  margin-top: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.header-logos {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.footerr {
  display: flex;
}

.adress-https {
  display: flex;
  padding-bottom: 10px;
}

.adress-link {
  color: var(--footer-text);
}

.adress-iteam:nth-child(1) {
  padding-bottom: 10px;
}

.adress-iteam:nth-child(2) {
  padding-bottom: 60px;
}

.line-ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.mainn {
  margin-bottom: 94px;
}

.line {
  margin-bottom: 188px;
}

.work {
  margin-bottom: 94px;
}

.work-line {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.work-images {
  width: 370px;
}

.comand-line {
  display: flex;
  justify-content: space-between;
}

.main-img {
  width: 270px;
  height: 260px;
}

.comand-title {
  margin-bottom: 50px;
}

.footerr {
  align-items: center;
  justify-content: center;
}

.footer-images {
  width: 370px;
  height: 294px;
}

.images-link {
  display: flex;
  flex-wrap: wrap;
}

.mn-section {
  display: flex;
}

.portfolio-link {
  align-items: center;
  display: flex;
  gap: 8px;
  background-position: center;
  align-items: center;
  margin: 0 auto;
}

.portfolio-iteam {
  justify-content: space-between;
  margin: 0 auto;
  gap: 8px;
}

.portfolio-button {
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  margin-bottom: 50px;
  margin-top: 96px;
  gap: 8px;
  background-position: center;
}

.portfolio-button:hover {
  background-color: var(--header-color);
  border-radius: 4px;
  padding-top: px;
}

.header-:hover {
  color: var(--header-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;
}

.first-mein {
  margin-bottom: 94px;
}

.comand {
  padding-top: 94px;
}

.footer-images {
  margin-bottom: 30px;
}

.images-title {
  margin-bottom: 20px;
}

.mn-text {
  width: 1600px;
  height: 600px;
  top: 80px;
  background-image: url(../img/Imges.png);
  background-position: center;
  background-repeat: no-repeat;
  @media (min-width: 480px) {
    width: 360px;
    height: 84px;
    top: 178px;
    left: 60px;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
  }
  @media (min-width: 768px) {
    width: 360px;
    height: 84px;
    top: 198px;
    left: 204px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
  }
  @media (min-width: 1200px) {
    width: 696px;
    height: 120px;
    top: 280px;
    left: 452px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
  }
}

.images-link:nth-last-child(1) {
  margin-top: 30px;
  margin-bottom: 31px;
}

.images-link:nth-last-child(2) {
  margin-top: 30px;
  margin-bottom: 31px;
}
.images-link:nth-last-child(3) {
  margin-top: 30px;
  margin-bottom: 31px;
}

.line-iteam:nth-child(1)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--footer-main-background);
  background-repeat: no-repeat;
  background-image: url(../img/antenna.svg);
  background-position: center;
}

.line-iteam:nth-child(2)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--footer-main-background);
  background-repeat: no-repeat;
  background-image: url(../img/vector.svg);
  background-position: center;
}

.line-iteam:nth-child(3)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--footer-main-background);
  background-repeat: no-repeat;
  background-image: url(../img/diagram.svg);
  background-position: center;
}
.line-iteam:nth-child(4)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--footer-main-background);
  background-repeat: no-repeat;
  background-image: url(../img/astronaut.svg);
  background-position: center;
}

.mn-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
}
.div5 {
  grid-area: 1 / 5 / 2 / 6;
}

.images-link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div11 {
  grid-area: 1 / 1 / 2 / 2;
}
.div22 {
  grid-area: 1 / 2 / 2 / 3;
}
.div33 {
  grid-area: 1 / 3 / 2 / 4;
}
.div44 {
  grid-area: 2 / 1 / 3 / 2;
}
.div55 {
  grid-area: 2 / 2 / 3 / 3;
}
.div66 {
  grid-area: 2 / 3 / 3 / 4;
}
.div77 {
  grid-area: 3 / 1 / 4 / 2;
}
.div88 {
  grid-area: 3 / 2 / 4 / 3;
}
.div99 {
  grid-area: 3 / 3 / 4 / 4;
}

.comand {
  margin-bottom: 94px;
}

.client-text {
  margin-bottom: 50px;
  color: var(--header-text);

  text-align: center;
  font-family: "Roboto" sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.client-line {
  display: flex;
  gap: 30px;
}

.dablle-footer {
  color: #fff;

  font-family: "Roboto" sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.helping-div {
  display: flex;
}

.dablle-footer-line {
  display: flex;
  gap: 10px;
}
.dabble-div {
  margin-top: 72px;
  margin-left: 35px;
}
.dablle-footer {
  margin-left: 35px;
}

/*/
.comand-iteamss {
  width: 150px;
  height: 250px;
  position: absolute;
  background-color: #2196f3;
  left: 19%;
  right: 19%;
}
  /*/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #00000016;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: auto;
  overflow-x: auto;
  width: 528px;
  height: 581px;
  border-radius: 4px;
}

.no-scroll {
  overflow: hidden;
}
.mn-btnn {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 485px;
}

/*/
  hidden- is invisible
  auto- auto
  scroll-  завжди

 /*/
.logos-div {
  gap: 14px;
  background-position: center;
  align-items: center;
  margin-left: 41px;
  margin-top: 16px;
  margin-bottom: 30px;
}

.comand-iteam {
  background: #fff;
}
.comand-iteamss {
  background: #fff;
}
.header-img {
  margin-right: 10px;
}
.header-iteamer:hover {
  color: white;
}
.modal-text {
  margin-left: 10px;
  color: #212121;

  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.model-labl {
  margin-top: 4px;
  margin-left: 40px;
  width: 448px;
  height: 40px;
  border-radius: 4px;
}
.mod-line {
  margin-left: 40px;
}
.modal-text {
  margin-top: 12px;
}
.form-span {
  color: #2196f3;
  font-family: "Roboto" sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.model-labluu {
  margin-top: 4px;
  margin-left: 40px;
  width: 448px;
  height: 40px;
  border-radius: 4px;
}

.model-lable {
  margin-top: 10px;
  margin-left: 40px;
}

.model-lableer {
  margin-top: 10px;
  margin-left: 40px;
}

.model-input {
  margin-top: 4px;
  margin-left: 40px;
  width: 448px;
  height: 40px;
  border-radius: 4px;
}

.mod-text {
  margin-top: 4px;
  margin-left: 40px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
}

.modal-btn {
  margin-left: 74px;
  margin-top: 20px;
}

.modal-foot-buton {
  margin-left: 164px;
  margin-top: 40px;
  padding-left: 52px;
  padding-right: 52px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  background: #2196f3;
  color: #fff;

  text-align: center;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
}

.trump {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
  background-color: #ff0043;
}

.overley {
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);

  top: 0;
  left: 0;
  transform: translateY(100%);
  position: absolute;

  transition: transform 250ms ease-in-out;
}

.trump:hover.ovrley {
  background-color: black;
  transform: translate(0);
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.fot-btn {
  margin-left: 6px;
  color: #fff;

  text-align: center;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;

  border-radius: 4px;
  background: #2196f3;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.foot-text {
  margin-bottom: 20px;
  color: #fff;

  font-family: "Roboto" sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.fot-dive {
  margin-left: 93px;
  margin-top: 72px;
}
.logos-div {
  gap: 25px;
}

.header-a {
  position: relative;
}
.header-a:hover::before {
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -29px;
  left: 0px;
  display: inline-block;
}
.header-port {
  border-radius: 5px;
  position: relative;
}
